.slide{
    color:rgb(220, 237, 245);
    height:90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   
  .slide1{
    background-image:url("../src/assets/c1.jpg") ;
  }
  .slide2{
    background-image:url("../src/assets/c2.jpg") ;
  }
  .slide3{
    background-image:url("../src/assets/c3.jpg") ;
  }
  .slide4{
    background-image:url("../src/assets/c4.jpg") ;
  }